/* Navbar styles */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Styles for the app section */
.navbar .app {
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar .app .appicon {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    margin-right: 10px;
}

.navbar .app .appname {
    font-size: 18px;
    font-weight: bold;
}

/* Styles for the profile section */

.navbar .profile {
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.navbar .profile a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 15px;
    font-size: 20px;
}
.navbar .profile a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .profile .profileButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar .profile .profileButton .profileimage {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    border-radius: 50%; /* Make the image round */
}

.navbar #popup {
    display: none;
    position: fixed;
    width: 210px;
    height: 120px;
    top: 18%;
    right: -7%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}
.navbar #popup .close {
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: bold;
}
.navbar #popup .userprofile {
    display: flex;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    height: 45px;
    color: black;
    font-weight: bold;
}
.navbar #popup .userprofile img{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 5px;
    width: 25%;
    height: 100%;
}
.navbar .popup .popupSP {
    text-decoration: none;
    font-size: 25px;
    margin-top: 7px;
    color: black;
    font-weight: bold;
    display: block;
}
