* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1a1a1a;
}
.container {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
}
.container .headerinfo  {
    width: 100%;
    height: 250px;
}
.container .headerinfo .userbackgroundImage {
    width: 100%;
    height: 100%;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.headerinfo .userimage {
    width: 200px;
    height: 180px;
    position: absolute;
    left: 150px;
    top: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.container .headerinfo .name {
    position: absolute;
    top: 200px;
    left: 360px;
    color: #a08484;
    font-size: 30px;
}
.container .headerinfo .following {
    position: absolute;
    top: 190px;
    right: 30px;
    width: 100px;
    height: 40px;
}
.container .headerinfo .following button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 17px;
    color: white;
    border-radius: 10px;
}
.container .headerinfo .uploadBottonBack,
.container .headerinfo .uploadBottonFront {
    width: 43px;
    height: 37px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.container .headerinfo .uploadBottonBack {
    top: 193px;
    right: 1%;
}
.container .headerinfo .uploadBottonFront {
    top: 270px;
    left: 310px;
}
.container .headerinfo .uploadBottonBack img,
.container .headerinfo .uploadBottonFront img {
    height: 200%;
    width: 110%;
}
.profilepopupBack,
.profilepopupFront {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    position: absolute;
    background-color: whitesmoke;
    padding: 10px;
    display: none;
    z-index: 100;
}
.profilepopupBack {
    top: 1%;
    right: 6%;
}
.profilepopupFront { 
    top: 1%;
    left: 22%;
}
.profilecloseBack,
.profilecloseFront {
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
.profilepopupBack form,
.profilepopupFront form {
    margin-top: 15px;
}
.profilepopupBack form label,
.profilepopupFront form label {
    font-size: 20px;
    font-weight: 600;
}
/* .profilepopupBack form #fileUpload,
.profilepopupFront form #fileUpload {
    margin-top: 5px;
    font-size: 15px;
} */
.profilepopupBack form .submit,
.profilepopupFront form .submit {
    padding: 5px;
    color: blue;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.container .headerinfo .numberfollowings {
    width: auto;
    height: 30px;
    position: absolute;
    color: #a08484;
    font-size: 25px;
    top: 196px;
    right: 160px;
}
.container .headerinfo .qoute {
    position: absolute;
    top: 105%;
    width: 500px;
    height: auto;
    left: 24%;
    color: white;
    font-size: 20px;
}

.container .relations {
    width: 100%;
    height: 100%;
}
.container .relations .posts {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    top: 350px;
    left: 360px;
    position: absolute;
    justify-content: center;
}
.container .relations .posts .postssheader {
    font-size: 28px;
    color: white;
    border-width: 1px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
}
.relations .post {
    margin-bottom: 20px;
    background-color: #303030;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
}
.relations .post .userimage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.relations .post .postInfo .date{
    font-size: 13px;
    margin-top: 3px;
}
.relations .post .postheader{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 22px;
    padding: 5px;
    margin-bottom: 10px;
}
.relations .post .postContent{
    font-size: 22px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}
.relations .post img {
    width: 100%;
}
.relations .post .like-button,
.relations .post .like-button.liked {
    padding: 7px;
    border-radius: 6px;
    border-width: 0;
    margin: 12px;
    font-size: 15px;
    cursor: pointer;
}
.relations .post .like-button.liked {
    background-color: rgb(50, 50, 166);
    color: white; 
}



.friends {
    width: 30%;
    position: absolute;
    top: 350px;
    right: 20px;
}
.friends .friendsheader {
    font-size: 28px;
    color: white;
    border-width: 1px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;
}
.relations .friends .all_friends {
    background-color: #303030;
    padding: 10px;
    border-radius: 15px;
}
.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.friends .all_friends .friend .friendprofile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.friend img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.friend .friendinfo {
    color: white;
    display: inline-block;
}
.friend .friendinfo .friendname {
    font-size: 15px;
    margin-bottom: 5px;
}
.friend .friendinfo .friendqoute {
    font-size: 12px;
    width: 280px;
}
.friend a {
    height: 40px;
    width: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 50px;
    font-size: 15px;
}


